.departbody{
display: flex;

overflow-y: hidden;
}

.departs{
padding-right: 2vw;
padding-left: 2vw;
}


.h1Depart{
margin-top: 5vh;
margin-bottom: 10vh;
}

.add{

width: 160px !important;
border: none;
border-radius: 5px;
background-color: rgb(0, 136, 255);
color:white;
padding-bottom: 2px;
padding-top: 2px;
}