.login-container {  
  height: 100vh;
  background-color: #e9faff;
}

.form-container{
background-color: white;
width: 500px !important;
height: 500px !important;
}

.form-control{
border-radius: 0 !important;
border-color: rgb(182, 178, 178);
}

.form-input{
min-width: 25vw !important;
height:60px;
}

.btn{
height:60px;
min-width: 25vw !important;

}


.error{
color:red !important;
border-radius: 2%;
}



@media(max-width:1000px) {
    
.form-container{
width: 350px !important;               
}

}


@media(max-width:814px){

.btn{
min-width: 200px !important;       
}


}