.divContainer{
display: flex;
flex-direction: column;
background-color: #f1f5f9;
width: 100vw;    
/*border: black 2px solid;*/

}

.requests{
display: flex;
/*border: black solid 2px;*/
align-self: center;
margin-top:40px;
margin-bottom:50px;
width:60vw;

}

.requests button{
font-family: Arial, Helvetica, sans-serif;
background-color: transparent;
font-weight: 600;
margin-right:2%;
font-size: 15px;
height: 50px;
display: flex;
align-items: center;
border-radius: 6px;
border-color: rgb(206, 204, 204);
}

.requests button:hover{  
background-color:rgb(0, 136, 255);
color:white;
}





.requests button p{
margin-top:18px;
margin-left:8px;
}

.reqTable{
margin-left: 30px;
margin-right: 30px;
border-radius: 5px;

}


.reqTable table{

box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  

 }
