.popPayslip{
position:fixed; 
top:40%;
right:40%;
z-index: 2;
width:310px;    
background-color: white; 
padding-left:20px; 
border-radius: 5px;
}

.popPayslip form{
padding-top:8px;

}

.buttonAddPayslip{
margin-top: 10px;
margin-bottom:8px;
margin-right:15px;
border-radius: 5px;
background-color: rgb(0, 136, 255);
border: none;
color:white;
padding: 5px;
width:70px;
}

.buttonNo{
border-radius: 5px;
padding: 5px 2px;
width:50px;  
border:none;
color:white;
background-color:gray;  
}



.bg{
background-color:black;
width:100vw;
height:100vh;
position:absolute;
z-index:1;
opacity:0.7;
}

.errorPayslip{
color:red;
}


