.sidebar{
position: relative;  
background-color: #212b36;
color:white;
width: 230px !important;
height:100vh;
padding:20px;
}

.sideItem{
display: flex;
margin-bottom:10vh;
width:180px;
cursor:pointer;
color:white !important;
text-decoration: none;

}

.sideItem:hover{    
color:#3a84f2 !important;
}

.userDiv{
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 7vh;
width:200px;

}

.userDiv p{

font-size: 12px;    

}


.userDiv img{
margin-bottom: 9px;
width:60px;
height:60px;
}

.userDiv h5{
font-size: 18px;
}

.sideItem img{
margin-right:15px;    
width:25px;
height:25px;
}


@media (max-height:669px){

.sidebar{

overflow-y:scroll;


}
::-webkit-scrollbar {
    width: 12px; 
  }
  
  ::-webkit-scrollbar-track {
    background: #212b36; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: black; 
    border-radius: 5px; 
  }


}
























